<a href="https://colab.research.google.com/github/sivapoolla2000/Python/blob/master/Day_5(5_7_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown basics
## Markdown basics
###Markdown basics
####Markdown basics

* ***Point3***
*Normal Text
 *Sublist 1
 *Sublist 2
 
 >1.point1
 >2.point2
 * ***Adding links to Markdown***
 *Google site -- .[1].:https://www.google.com
 *msn site -- .[2].:http://www.msn.com
 -.[.].option 1
 
 *Google Site -- [Google].[1]
 [1]:http://www.google.com

In [0]:
In[1]: print("hello world")

hello world

In [0]:
In[2]: print("Hello,Gitam")
print("Hyderabad")

Hello,Gitam
Hyderabad

In [0]:
n1=100 # single Variable Assignment
a = b = c=20 # multi variable assignment of the same value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [0]:
n1=100
print(n1)

100

In [0]:
a1,b1,c1 = (111,222,333) # multi variable assignment with the different values 
print(a1,b1,c1)

111 222 333

In [0]:
a=100
s1="python"
s2='p'
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [0]:
s1=100
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'int'>
<class 'int'>
<class 'int'>
1

In [0]:
a1=1234
print(len(str(a1)))

4

In [0]:
s1=input("Enter the name")
print(s1)
print(type(s1))

Enter the nameSiva
Siva
<class 'str'>

In [0]:
n1=print("Enter a number")
print(n1,type(n1))

Enter a number
None <class 'NoneType'>

In [0]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

In [0]:
x=1+2**3/4*5
print(x)

11.0

In [0]:
x=1+2**3/4+5
print(x)

8.0

In [0]:
i=100
a1=(i>20)and(i<900)
a2=(i>30)and(i>999)
print(a1)
print(a2)

True
False

In [0]:
n=int(input("enter a number"))
if n%2==0:
  print("even")
else:
3  print("odd")

enter a number2
even

In [0]:
n=int(input("enter a number"))
if n%3==0 and n%5==0:
  print("yes")
else:
  print("no")

enter a number7
no

In [0]:
n=int(input("enter the number"))
if n==0:
 print("zero")
elif n<0:
 print("-ve")
else:
  print("+ve")

enter the number-2
-ve