<a href="https://colab.research.google.com/github/sivapoolla2000/Python/blob/master/Day_7(8_7_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def primeCount(n):
  cnt=0
  for  a in range (2,n+1):
     k=0
     for i in range (2,a//2+1):
       if a%i==0:
         k=k+1
     if (k<=0):
       cnt=cnt+1
  return cnt 
primeCount(10)

4

In [0]:
def isprime(n):
  flag=True
  for i in range(2,n//2+1):
    if n%i==0:
      flag=False
  return flag
isprime(11)

True

In [0]:
def factorial(n):
  fact =1
  for i in range(2,n+1):
    fact*=i
  return fact
def digitfactsum(n):
    sum=0
    buffer=n
    while n!=0:
      r=n%10
      sum+=factorial(r)
      n=n//10
    if sum==buffer:
      return "yes"
    else:
      return "no"
    return
print(digitfactsum(145))
print(digitfactsum(123))

yes
no

In [0]:
def ispalindrome(n):
  rev=0
  buffer=n
  while n!=0:
    r=n%10
    rev=rev*10+r
    n=n//10
  if rev==buffer:
    return True
  else:
    return False
   return

IndentationError: ignored

In [0]:
def factorslist(n):
  sum=0
  for i in range(1,n//2+1):
    if n%i==0:
      sum=sum+i
  return sum

In [0]:
s1='Python'
print(s1[0])
print(s1[1])
print(s1[5])
print(s1[len(s1)-1])

P
y
n
n

In [0]:
print(s1[-1])
print(s1[-2])
print(s1[-5])
print(s1[0])
print(s1[0:2])
print(s1[1:-1])
print(s1[::2])

n
o
y
P
Py
ytho
Pto

In [0]:
def ispalindrome(str):
  if str==str[::1]:
    return True
  else :
    return False
  return
print(ispalindrome("python"))
print(ispalindrome("jnrgj"))

True
True

In [0]:
def printupper(x):
  for i in range (len(x)):
    if ord(x[i])>=65 and ord(x[i])<=90:
      print(x[i],end=" ")
  return
printupper("PYTHON ")

P Y T H O N

In [0]:
def extractdigits(str):
  for x in range(len(str)):

In [0]:
def sumofdigits(str):
 sum=0
 for x in range(len(str)):
  if ord (str[x])>=48 and ord (str[x])<=57:
    sum=sum+(ord(str[x])-48)
 return sum
sumofdigits('Appli1cat8ion89')

26

In [57]:
def sumofdigits(str):
 sum=0
 for x in range(len(str)):
  if ord (str[x])>=48 and ord (str[x])<=57:
    if (ord(str[x])-48)%2==0:
     sum=sum+(ord(str[x])-48)
 return sum
sumofdigits('Appli1cat8ion89')

16